extends layout

block content
  h2 Users
  ul
    li GET /users - retrieves a list of users from the database
    li POST /users - create users
  h2 Weapons
  ul
    li GET /weapons - retrieves a list of weapons from the database
    li POST /weapons - create weapons
