extends layout

block content
  div.page
    div.view
      h2 Users
      ul
        li GET /users - retrieves a list of users from the database
        li POST /users - registers users. Must provide <strong>email</strong> and <strong>password</strong> fields in the request
        li POST /login - authenticate a user. Returns { token : "mytoken" }
      h2 Weapons
      ul
        li GET /weapons - retrieves a list of weapons from the database
        li POST /weapons - create weapons
