extends layout

block content
  div.page
    div.view
      h2 Query 1
      p Lists weapon’s name, maximum damage and minimum damage, and mag size.

      pre
        code.language-sql.
          SELECT Name, Max_damage, Min_damage, Mag_size
          FROM WEAPON JOIN DAMAGE
            ON Id JOIN RELOAD
            ON Id
          ORDER BY Name;

      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Mag Size
        tbody
          each weapon in query1
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Mag_size }